<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timain.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.timain.domain.Permission">
    <id column="perid" jdbcType="INTEGER" property="perid" />
    <result column="pername" jdbcType="VARCHAR" property="pername" />
    <result column="percode" jdbcType="VARCHAR" property="percode" />
  </resultMap>
  <sql id="Base_Column_List">
    perid, pername, percode
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission
    where perid = #{perid,jdbcType=INTEGER}
  </select>
  <select id="queryPermissionsByUserId" resultType="com.timain.domain.Permission">
    SELECT distinct t1.* FROM permission t1 INNER JOIN role_permission t2 INNER JOIN user_role t3 ON (t1.perid=t2.perid and t2.roleid=t3.roleid)
      WHERE t3.userid = #{userId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission
    where perid = #{perid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.timain.domain.Permission">
    insert into permission (perid, pername, percode
      )
    values (#{perid,jdbcType=INTEGER}, #{pername,jdbcType=VARCHAR}, #{percode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.timain.domain.Permission">
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="perid != null">
        perid,
      </if>
      <if test="pername != null">
        pername,
      </if>
      <if test="percode != null">
        percode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="perid != null">
        #{perid,jdbcType=INTEGER},
      </if>
      <if test="pername != null">
        #{pername,jdbcType=VARCHAR},
      </if>
      <if test="percode != null">
        #{percode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.timain.domain.Permission">
    update permission
    <set>
      <if test="pername != null">
        pername = #{pername,jdbcType=VARCHAR},
      </if>
      <if test="percode != null">
        percode = #{percode,jdbcType=VARCHAR},
      </if>
    </set>
    where perid = #{perid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.timain.domain.Permission">
    update permission
    set pername = #{pername,jdbcType=VARCHAR},
      percode = #{percode,jdbcType=VARCHAR}
    where perid = #{perid,jdbcType=INTEGER}
  </update>
</mapper>